.Right{
	 padding-right:20px;
	 font-size:15px;


}

.InputRight{
	padding-right:10px;


}
.Left{
	
	padding-left:20px;
	font-size:15px;
}
.CardImages{
  padding-top:20px;
  padding-right:15px;

}
.card{
	background-color:white;
	height:400px;
	width:280px;
	margin-top:25px;
	margin-left:10px;
	padding-left:20px;
}
.col-md-3{
margin-left:-5px;


}

