.footer {
      background-color: #212121;
      color: #b4b1a9;
}

.footer ul {
      list-style-type: none;
}

.footer ul a {
      color: #b4b1a9;
      text-decoration: none;
}

.footer ul a:hover {
      color: white;
}
.uppernav{
      width:100%;
      height:35px;
      background-color:black;
      color:white;
      font-size:11px;
}

.main-nav{
      background-color:white;

}
.uppernav  .external-entries-left{
    float: left;
}
.uppernav .external-entries-right{

      float: right;
}
.uppernav .external-entries-right .batasi{
      padding: 0px 10px 0 10px;
      text-transform: uppercase;

}

.uppernav .external-entries-left .batasi{
      padding: 0px 10px 0 10px;
      text-transform: uppercase;

}
.uppernav .external-entries-left .entryleft{

    float: left;
    position: relative;
    margin: 0 10px 0 11px;
    font-size: 10px;
    text-transform: uppercase;
}

.main-nav .navbar-collapse .navbar-nav li{
      position:static;

}

  .main-nav .navbar-collapse .navbar-nav li a:hover .dropdown-menu{
      display:block;
      width:100%;
      height:250px;
      transition: 0s;
  }
  .main-nav .navbar-collapse .navbar-nav li a{
      padding:0px 15px 0px 15px;
      font-size:14px;
  }
  .navbar-collapse .navbar-nav .dropdown a ul .row .col-mx-3{
      padding:0px 12px 0px 12px;
      margin:0px 25px 0px 25px;

  }