body, html, li, p, ul {
    margin: 0;
    padding: 0;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#root {
    min-height: 100%;
    display: flex;
    flex-flow: column nowrap;
    min-width: 1226px;
}

.mini-header {
    width: 100%;
}

.mini-header .site-header {
    background-color: #fff;
    height: 90px;
    box-sizing: border-box;
    border-bottom: 1px solid #ff6700;
}

.mini-header .site-header__container {
    width: 1226px;
    height: 90px;
    margin: 0 auto;
    padding: 15px 10px;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    align-items: center;
}

.mini-header .site-header__mi-logo {
    flex-shrink: 0;
    width: 56px;
    height: 56px;
    background-color: #ff6700;
    overflow: hidden;
}

.mini-header .site-header__mi-logo a {
    text-decoration: none;
    color: inherit;
    display: flex;
    height: 100%;
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mini-header .site-header__mi-logo img {
    vertical-align: middle;
    margin-left: -56px;
    transition: all .2s;
}

.mini-header .site-header__spacer {
    flex-grow: 1;
}

.mini-header .site-header__learn-more {
    display: flex;
    align-items: center;
}

.mini-header .site-header__learn-more a {
    font-size: 14px;
    color: #666;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.product__main {
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ff6700;
    flex-grow: 1;
}

.product__main .product__container {
    width: 1226px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-family: ProximaNova,sans-serif;
    font-size: 16px;
}

.product__main .product__aside {
    position: static;
}

.product__image-wrapper {
    position: relative;
    height: 100%;
}

.product__image {
    width: 550px;
    height: auto;
    margin-left: 20px;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: center;
}

.product__image img.product__image-content {
    max-width: 550px;
    height: 550px;
    object-fit: contain;
    display: block;
}

.product__main .product__article {
    width: 606px;
    min-height: 500px;
    box-sizing: border-box;
    padding: 48px 48px 40px;
    margin-bottom: 60px;
    background: #fafafa;
}

.product__main .product__article .product__section-spacer {
    border-bottom: 1px solid #eee;
    padding-top: 20px;
    padding-bottom: 20px;
}

.information-section__product-title {
    width: 100%;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
    color: #000;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.information-section__product-info {
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-bottom: -4px;
}

.information-section__product-info .information-section__product-sku-info {
    font-size: 20px;
    line-height: 24px;
    color: #757575;
}

.information-section__product-info .information-section__product-price {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ddd;
    font-size: 20px;
    line-height: 28px;
    margin-top: 8px;
    display: flex;
    align-items: center;
}

.information-section__product-info .information-section__product-price strong {
    color: #ff6700;
    font-weight: 400;
}

.offers-section .offers-section__list {
    margin-left: 14px;
}

.offers-section .offers-section__list .offers-section__item {
    padding-left: 5px;
    list-style-type: disc;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
    color: #757575;
    margin-top: 10px;
    white-space: pre-line;
}

.product__main .product__article .product__section-title {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #757575;
    margin-top: 30px;
    margin-bottom: 20px;
}

.quantity-section__content {
    display: inline-flex;
    max-width: 138px;
    height: 38px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    overflow: hidden;
}

.quantity-section__button {
    flex-grow: 0;
    flex-shrink: 0;
    border: 0;
    background-color: #fff;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 36px;
    height: 36px;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    color: #424242;
}

.quantity-section__button:disabled {
    color: #c6c6c6;
    cursor: not-allowed;
}

.tambah, .kurang {
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.quantity-section__button:last-of-type:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-left: 1px solid #e0e0e0;
    height: 28px;
}

.quantity-section__button:first-of-type:after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    border-right: 1px solid #e0e0e0;
    height: 28px;
}

.quantity-section__value {
    text-align: center;
    display: inline-flex;
    border: 0;
    flex-shrink: 0;
    flex-grow: 1;
    color: #757575;
    font-size: 20px;
    line-height: 36px;
    height: 36px;
    width: 64px;
    padding: 0;
    outline: none;
}

.order-list-section {
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 30px;
}

.order-list-section .order-list-section__list {
    padding: 4px 0 4px 10px;
}

.order-list-section .order-list-section__item:first-child {
    margin-top: 0;
}

.order-list-section .order-list-section__item {
    margin: 15px 0;
    font-size: 16px;
    color: #757575;
    min-height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-list-section .order-list-section__item span {
    text-align: left;
    font-style: normal;
    text-overflow: ellipsis;
    margin-right: 12px;
}

.order-list-section .order-list-section__item-spacer {
    flex-grow: 1;
}

.order-list-section .order-list-section__item strong {
    font-weight: inherit;
    white-space: nowrap;
}

.order-list-section .order-list-section__item--total {
    margin-top: 20px;
    color: #ff6700;
    font-size: 20px;
    height: 36px;
    align-items: baseline;
}

.order-list-section .order-list-section__item--total strong {
    font-weight: 400;
    font-size: 30px;
}

.order-list-section .order-list-section__item--total small {
    font-size: 20px;
}

.add-cart-section {
    width: 100%;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 40px;
}

.add-cart-section .add-cart-section__wrap {
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 50px;
    width: 100%;
    position: relative;
}

.add-cart-section .add-cart-section__submit-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-cart-section .add-cart-section__submit-group .add-cart-section__submit {
    width: 50%;
    font-size: 20px;
    text-transform: uppercase;
}

.add-cart-section .add-cart-section__submit--main {
    border-color: #ff6700;
    background-color: #ff6700;
}

.add-cart-section .add-cart-section__submit {
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
    border: 2px solid transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}