<!DOCTYPE>
<html>
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/belanja.css" media="screen" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

 </head>
 <body style="background-color:grey;">
 	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <ul class="nav navbar-nav">
	       <li class="nav-item"> <a href="#">MI INDONESIA</a></li>
	       <li class="nav-item"> <a href="#">|</a></li>
	       <li class="nav-item"> <a href="#">IKUTI KITA DI FACEBOOK</a></li>
	       <li class="nav-item"> <a href="#">|</a></li>
	       <li class="nav-item"> <a href="#">MI COMMUNITTY</a></li>
	    </ul>
	     <ul class="nav navbar-nav  navbar-right">
		<li class="nav-item"> <a href="#">Masuk </a></li>
		<li class="nav-item"> <a href="#">|</a></li>
		<li class="nav-item"> <a href="#">Daftar</a></li>
		<li class="nav-item"> <a href="#">|</a></li>
		<li class="nav-item"> <a href="#"><span class="	glyphicon glyphicon-shopping-cart"></span>  Keranjang (0)</a></li> 
	    </ul>
	    </div>
	  </div>
	</nav>
	<nav class="navbar navbar-default">
	<div class="container-fluid">
	   <div class="navbar-header">
		<img src="assets/mipicts.png" alt="kambing">
	   </div>
	   <ul class="nav navbar-nav navbar-right">
		<li class="nav-item"> <a href="#">All Products </a></li>
		<li class="nav-item"> <a href="#">Powerbank</a></li>
		<li class="nav-item"> <a href="#">TV</a></li>
		<li class="nav-item"> <a href="#">POCOPHONE</a></li>
		<li class="nav-item"> <a href="#">MI PHONE</a></li>
		<li class="nav-item"> <a href="#">Redmi Phones</a></li>
	   </ul> 
	</div>
	</nav>
	<div class='Left'>
	   <a href="#">RELEVANSI</a>
           <a href="#">Hanya Lihat Produk</a>
	</div>
	<div>
	  <div class="Right">
	    <form>
		<input type="checkbox">
		<label for ="" class="InputRight">Dijual</label>
		<input type="checkbox">
		<label for=""> ADA STOK </label>
	    </form>
	  </div>
	</div>

	<!--- Card Section -->
	<div class="container px-5 py-5 " > 
	    <div class="row">
		<div class="col-md-3">
		   <div class="card">
		     <div class="card-body">   
			<img class="center-block CardImages" src="assets/Redmi1.png" alt="Gaada">
			<h5 class="text-center">Redmi 9A Granite Gray Special Edition 2GB+32GB </h5>
			<h4 class="text-center">Rp. 1.999.999 </h4>
		     </div>	
		   </div>
		 </div>
		 <div class="col-md-3">
	    	   <div class="card" >
		   	<div class="card-body">
			   <img class="center-block CardImages" src="assets/Redmi1.png" alt="GaADa">
			   <h5>Kambing Beraksi Gan</h5>
		 	   <h6>Rp 1.999.999 </h6>
		  	 </div>
		</div>
	      </div>
	    <div class="col-md-3">
		   <div class="card">
		     <div class="card-body">   
			<img class="center-block CardImages" src="assets/Redmi1.png" alt="Gaada">
			<h5 class="text-center">Redmi 9A Granite Gray Special Edition 2GB+32GB </h5>
			<h4 class="text-center">Rp. 1.999.999 </h4>
		     </div>	
		   </div>
		 </div>
	    <div class="col-md-3">
		   <div class="card">
		     <div class="card-body">   
			<img class="center-block CardImages" src="assets/Redmi1.png" alt="Gaada">
			<h5 class="text-center">Redmi 9A Granite Gray Special Edition 2GB+32GB </h5>
			<h4 class="text-center">Rp. 1.999.999 </h4>
		     </div>	
		   </div>
		 </div>  
	    </div>

          <div class="row">
		<div class="col-md-3">
		   <div class="card">
		     <div class="card-body">   
			<img class="center-block CardImages" src="assets/Redmi1.png" alt="Gaada">
			<h5 class="text-center">Redmi 9A Granite Gray Special Edition 2GB+32GB </h5>
			<h4 class="text-center">Rp. 1.999.999 </h4>
		     </div>	
		   </div>
		 </div>
		 <div class="col-md-3">
	    	   <div class="card" >
		   	<div class="card-body">
			   <img class="center-block CardImages" src="assets/Redmi1.png" alt="GaADa">
			   <h5>Kambing Beraksi Gan</h5>
		 	   <h6>Rp 1.999.999 </h6>
		  	 </div>
		</div>
	      </div>
	    <div class="col-md-3">
		   <div class="card">
		     <div class="card-body">   
			<img class="center-block CardImages" src="assets/Redmi1.png" alt="Gaada">
			<h5 class="text-center">Redmi 9A Granite Gray Special Edition 2GB+32GB </h5>
			<h4 class="text-center">Rp. 1.999.999 </h4>
		     </div>	
		   </div>
		 </div>
	    <div class="col-md-3">
		   <div class="card">
		     <div class="card-body">   
			<img class="center-block CardImages" src="assets/Redmi1.png" alt="Gaada">
			<h5 class="text-center">Redmi 9A Granite Gray Special Edition 2GB+32GB </h5>
			<h4 class="text-center">Rp. 1.999.999 </h4>
		     </div>	
		   </div>
		 </div>  
	    </div>








	</div>



 </body>
  <html>
