<html>	

<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/footer.css" media="screen" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<footer class="row">
	
	<div class="col-md-2" >
	     <h6>Produk</h6>
	     <h6> Mi Smart Band 5</h6>
	     <h6> Mi TV Stick </h6>
	</div>

	<div class="col-md-2">
	     <h6> DUKUNGAN </h6>
	     <h6> Panduan Pengguna </h6>
	     <h6> Kewajiban pendaftaran IMEI </h6>
	     <h6> ponsel anda </h6>
	     <h6> Layanan Pelanggan </h6>
             <h6> Garansi </h6>
             <h6> Garansi Ekstensi(Produk Resmi) </h6>
	</div>
	<div class="col-md-2">
	     <h6>MEDIA SOSIAL</h6>
	     <h6>MIUI</h6>
	     <h6>Facebook / Twitter </h6>
	     <h6>Instagram</h6>
	</div>
	<div class="col-md-2">
	    <h6>TENTANG</h6>	
	    <h6>Xiaomi</h6>
	    <h6>Kebijakan Privasi</h6>
	    <h6>Hubungi Kami</h6>
	    <h6>Integritas & Kepatuhan </h6>
	    <h6>Gerai Terdekat</h6>
	</div>
	<div class="col-md-2 centered">
	    <h4>0800-1-401558</h4>
	    <h5>Jam Layanan: 09.00 - 18.00</h5>
	    <div class="square">
	    <h6> Kambing </h6>
	    </div>

</footer>
</html>
