<html>
<head>
  <meta charset='utf-8'>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0,user-scalable=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="assets/product.css" media="screen" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
	<nav class="navbar">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li class="nav-item"> <img src="assets/mipicts.png"></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="nav-item">
					<h5>Telusuri lebih lanjut tentang kambing .... </h5>
				</li>
			</ul>
		</div>

		<div class="HorizontalLine">
		</div>
	</nav>
	<div class="row">
		<div class="col-md-6">
			<img src="assets/PocoPoco.png">

		</div>
		<div class="col-md-6">
				<h3>Poco F2 Pro</h3>
				<h5>8GB+256GB, Blue</h5>
				<h4>Rp 7.599.000 <span> KAMBING GA TUH </span> </h4>
				<div class="HorizontalLine"></div>
				<ul>
					<li> Qualcomm Snapdragon 865</li>
					<li> 6.67 AMOLED FullScreen Display </li>
					<li> Kamera Depan pop-up 20MP </li>
					<li> Baterai besar 4700 mAh
				</ul>
				<div class="HorizontalLine"></div>
				<img src="assets/mipicts.png">
				<div class="HorizontalLine"></div>
				<h3>Storage</h3>
      <div class="row">
  				<div class="col-md-3">
    					<div class="Rectangle">
    						<h4>8GB</h4>
    					</div>
  				</div>
  				<div class="col-md-3">
    					<div class="Rectangle">
    						<h4>8GB</h4>
    					</div>
  				</div>
      </div>
        <h3>Color</h3>
      <div class="row">
          <div class="col-md-3">
                <div class="Rectangle">
                    <span class="Circle"></span>
                    <span>Kambing</span>
                </div>
          </div>
          <div class="col-md-3">
                <div class="Rectangle">
                    <span class="Circle"></span>
                    <span>Kambing</span>
                </div>
          </div>
          <div class="col-md-3">
                <div class="Rectangle">
                    <span class="Circle"></span>
                    <span>Kambing</span>
                </div>
          </div>
          <div class="col-md-3">
                <div class="Rectangle">
                    <span class="Circle"></span>
                    <span>Kambing</span>
                </div>
          </div>
		</div>
    <h3>Jumlah</h3>
    <h3>Perlindungan mi </h3>
    <div>
          <div class="BigRectangle">
            <div class="row">
                <div class="col-md-3">
                    <img src="assets/perlindunganmi1.png">
                </div>
                <div class='col-md-6'>
                    <h5>Asuransi Tambahan Mi Protect untuk kerusakan yang tidak disengaja (POCO F2 Pro)</h5>
                </div>
                <div class="col-md-3">
                    <h6>Harga disini</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                  <h6> Melindungi Ponsel Anda terhadap jatuh,
                    tergelincir atau benturan dan cairan yang tidak disengaja selama 1 tahun.
                    1 klaim per tahun.Pelajari lebih lanjut</h6>
              </div>
          </div>
          <div class="row">
            <div class="col-md-12">
            <form>
                <label for="checkbox"></label>
                <input type="checkbox" > Untuk rincian lebih lanjut,
                silakan merujuk ke  <span> <a href="#">Syarat dan Ketentuan</a></span>  .
                Dengan mengklik di sini,
                Anda menyetujui S & K dan  <span> <a href="#">Pemberitahuan Privasi</a></span>.

            </form>
           </div>
          </div>

          </div>
          <div class="BigRectangle">
            <div class="row">
                <div class="col-md-3">
                    <img src="assets/perlindunganmi2.png">
                </div>
                <div class='col-md-6'>
                    <h5>Asuransi Tambahan Mi Protect untuk kerusakan yang tidak disengaja (POCO F2 Pro)</h5>
                </div>
                <div class="col-md-3">
                    <h6>Harga disini</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                  <h6> Melindungi Ponsel Anda terhadap jatuh,
                    tergelincir atau benturan dan cairan yang tidak disengaja selama 1 tahun.
                    1 klaim per tahun.Pelajari lebih lanjut</h6>
              </div>
          </div>
          <div class="row">
            <div class="col-md-12">
            <form>
                <label for="checkbox"></label>
                <input type="checkbox" > Untuk rincian lebih lanjut,
                silakan merujuk ke  <span> <a href="#">Syarat dan Ketentuan</a></span>  .
                Dengan mengklik di sini,
                Anda menyetujui S & K dan  <span> <a href="#">Pemberitahuan Privasi</a></span>.

            </form>
           </div>
          </div>
        </div>
        <div class="ConfirmationRectangle">
          <div class="row">
            <div class="col-md-6">
                <h5> POco poco Pro White </h5>
                <h3> ToTAl </h3>
            </div>
            <div class="col-md-6">
              <h5>RP 7.5999.000</h5>
              <h3><span class="lowerchar"> Kambing</span> 7.5999.90<h3>
            </div>
          </div>
     </div>
     <div class="row">
        <div class="col-md-6">
          <div class="longbutton">
              <h5> Beli Sekarang </h5>
          </div>
        </div>
        <div class="col-md-3">
            <div class="Circle"></div>
        </div>
	</div>

</div>




</body>
</html>
